@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  color: #0f172a;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 4rem 1.25rem;
}

@media (min-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}
